<div class="card">
  <div class="card-header card-header-info">
    <h4 class="card-title">Profile</h4>
    <p class="card-category">Edit User</p>
  </div>
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Username"
              [(ngModel)]="userDetails.user.userName"
              name="name"
              [disabled]="save == false"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Email address"
              type="email"
              [(ngModel)]="userDetails.user.email"
              name="email"
              [disabled]="save == false"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngFor="let vehicle of userDetails.vehicles">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Vehicle No"
              type="text"
              [(ngModel)]="vehicle.regNo"
              name="regNo"
              [disabled]="save == false"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Vehicle Name"
              type="text"
              [(ngModel)]="vehicle.name"
              name="v_name"
              [disabled]="save == false"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="No.of.seats"
              type="text"
              [(ngModel)]="vehicle.noOfSeats"
              name="v_seats"
              [disabled]="save == false"
            />
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="save; else edit">
        <button
          mat-raised-button
          type="submit"
          class="btn btn-primary pull-left"
          (click)="saveUserDetails()"
        >
          Save
        </button>
      </div>
      <ng-template #edit
        ><button
          mat-raised-button
          type="submit"
          class="btn btn-primary pull-left"
          (click)="switchEditSave()"
        >
          Edit
        </button></ng-template
      >
      <button
        mat-raised-button
        type="submit"
        class="btn btn-danger pull-right"
        (click)="deleteUser()"
      >
        Delete
      </button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
