<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="vehicleID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicle </th>
    <td mat-cell *matCellDef="let element"> {{element.vehicleID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="regNo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Reg No </th>
    <td mat-cell *matCellDef="let element"> {{element.regNo}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="userID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> User </th>
    <td mat-cell *matCellDef="let element"> {{element.userID}} </td>
  </ng-container>

  <ng-container matColumnDef="noOfSeats">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> No.of.Seats </th>
    <td mat-cell *matCellDef="let element"> {{element.noOfSeats}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
